node_modules/
Presentatie/~$Docker-based microservices.pptx
/DotNet/MVCSource/.vs
Workshop/**/*Deelnemers*
Workshop/**/*Evaluatie*
Workshop/2017/Feedbackformulieren2017.pdf
**/bin/
**/obj/
**/Publish/
*.csproj.nuget.cache
*.csproj.nuget.g.props
*.csproj.nuget.g.targets
*.csproj.user
*.suo
*.vspscc