<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!--To inherit the global NuGet package sources remove the <clear/> line below -->
         <clear /> 
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <!--<add key="RenzoLocalPackages" value="http://localhost:5000" />-->
        <!--<add key="ContainerServer" value="http://nuget-server:5000/nuget" />-->
        <add key="local dir" value="/src/packages" />
    </packageSources>
</configuration>
