<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <!-- <clear /> -->
    <!-- <add key="apencontainer" value="https://api.apencontainer.org/v3/index.json" /> -->
    <add key="RenzoLocalPackages" value="http://nugetserver:5000" />
 </packageSources>
</configuration>
